html,
body {
  height: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  outline: 2px solid #1c5e22;
}
main {
  outline: 2px solid #1c5e22;
  flex: 1 1 auto;
  padding: 15px;
}
footer {
  outline: 2px solid #1c5e22;
  padding: 15px;
}
nav {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}
.nav_link {
  display: block;
  text-decoration: none;
}